{{#partial "content"}}

    <h4><strong>{{ foundMember.name }} </strong></h4>


    <h5><strong>Skill: </strong> {{ foundMember.skill }}</h5>


    <h5><strong>Team: </strong><a href="/teams/{{foundTeam.id}}">{{foundTeam.name}}</a></h5>
    <br>
    <br>
    <p>
        <a href="/members/{{foundMember.id}}/edit">Edit this members's details</a>
        <br>
        <a href="/members/{{foundMember.id}}/delete">Delete this member</a>
    </p>

{{/partial}}

{{> layout.hbs}}