{{#partial "content"}}

    <h5><strong>Team Name: </strong>{{ foundTeam.name }}</h5>


    <h5><strong>Team Description: </strong> {{ foundTeam.description }}</h5>


    <h5><strong>Team Members:</strong></h5>
        <ul>
            {{#each teamMembers}}
                <li>{{ name }}   <a href="/teams/{{foundTeam.id}}/members/{{id}}"><small>More info</small></a></li>
            {{/each}}
        </ul>
    <br>
    <br>
    <h5><strong>Add a team member to {{ foundTeam.name}}:</strong></h5>
    <form action="/teams/{{foundTeam.id}}" method="post">
        <label for="memberName">Name:</label>
        <input id="memberName" name="memberName" type="text">
        <label for="memberSkill">Skill:</label>
        <input id="memberSkill" name="memberSkill" type="text">
        <button type="submit" class="btn btn-default">Add</button>
    </form>
    <br>
    <br>
    <p>
        <a href="/teams/{{foundTeam.id}}/edit">Edit this team's details</a>
        <br>
        <!--<a href="/teams/{{foundTeam.id}}/members/delete">Edit this teams' members</a>-->
        <!--<br>-->
        <a href="/teams/{{foundTeam.id}}/delete">Delete this team</a>
    </p>

{{/partial}}

{{> layout.hbs}}